@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    color: #222;
}

a, a:visited {
    color: #222;
    text-decoration:none;
}

h1 {
    font-size: 120%;
    margin: 4px 0 12px;
}

button, input {
    border: 1px solid #999;
    padding: 2px 5px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

/********************************** Positions *********************************/

#container {
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
    max-width: 1500px;
    position: relative;
}

header {
    text-align: center;
    font-size: 30px;
    padding-bottom: 35px;
}

#main {
    overflow: hidden;
    position: relative;
}
footer {
}


aside, #content {
    border: 1px solid #999;
    border-radius: 10px;
    padding: 15px 20px;
}

aside {
    float: left;
    width: 100px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#content {
    width: auto;
    margin-left: 160px;
}

/************************************ Login ***********************************/

#login {
    text-align: center;
}

/*********************************** Keyring***********************************/

.keyring {
    border: 1px solid #ddd;
    padding: 4px 2px;
    border-radius: 5px;
    margin-bottom: 8px;
}
.keyring .lock-status {
    display: inline-block;
    float: right;
    width: 20px;
    height: 20px;
    margin-right: 3px;
}
.keyring.unlocked .lock-status {
    background-image: url(../img/lock_open.png);
}
.keyring.locked .lock-status {
    background-image: url(../img/lock_closed.png);
}
.keyring a.unlock {
    background: url(../img/expand.png) left no-repeat;
    padding-left: 16px;
    display: block;
}
.keyring .entries {
    border-top: 1px solid #ddd;
    margin-top: 5px;
    padding: 10px 20px 10px;
}

.keyring .entry {
    margin-top: 5px;
}
.keyring .entry .secret {
    float: right;
}
.keyring .entry .secret a {
    border-bottom: 1px dotted #222;
}

#unlock-dialog {
    display: none;
}
.ui-dialog.no-close .ui-dialog-titlebar {
    display: none;
}
#unlock-error {
    color: #c00;
    font-size: 90%;
}